.products {
	&__item {
		position        : relative;
		max-width       : 100%;
		height          : 200px;
		background-color: $white;
		display         : flex;
		flex            : 1 1 auto;
		flex-wrap       : wrap;
		margin-bottom   : 16px;
	}

	&__img {
		border          : none;
		max-width       : 224px;
		max-height      : 168px;
		background-color: $img-bg-color;
		margin-top      : 16px;
		margin-left     : 16px;
		transition      : all 0.3s ease-in-out;
		cursor          : pointer;
	}

	&__img:hover {
		opacity  : 0.8;
		transform: scale(0.95);
	}

	&__img:before {
		content         : " ";
		display         : block;
		position        : absolute;
		top             : 16px;
		left            : 16px;
		height          : 168px;
		width           : 224px;
		background-color: $img-bg-color;
	}

	&__img:after {
		content    : attr(alt);
		display    : block;
		font-style : normal;
		position   : absolute;
		top        : 87px;
		left       : 98px;
		text-align : center;
		font-weight: 300;
		font-size  : 1.375rem;
		line-height: 1.17;
		color      : $item-name-color;
	}

	&__container {
		display        : flex;
		max-height     : 168px;
		width          : 577px;
		margin-left    : 16px;
		margin-top     : 16px;
		flex-direction : column;
		flex-wrap      : nowrap;
		justify-content: space-between;
	}

	&__header {
		max-width      : 100%;
		display        : flex;
		justify-content: space-between;
		margin-bottom  : 6px;
	}

	&__title {
		font-size  : 1.125rem;
		max-width  : 450px;
		line-height: 1.17;
		font-weight: 500;
		color      : $item-name-color;
		cursor     : pointer;
		transition : color 0.2s linear;
	}

	&__title:hover {
		color: $primary-color;
	}

	&__price {
		font-size  : 1.125rem;
		line-height: 1.17;
		font-weight: 500;
		color      : $text-color;
	}

	&__description {
		display        : flex;
		max-width      : 100%;
		flex-direction : column;
		justify-content: space-between;
		height         : 100%;

		& p {
			max-width  : 400px;
			font-weight: 300;
			font-size  : 0.875rem;
			line-height: 1.14;
			color      : $description-text-color;
		}

		&__feature {
			height   : 51px;
			max-width: 100%;
		}
	}
}

.feature {
	&>div {
		display         : flex;
		align-items     : center;
		background-color: $img-bg-color;
		font-weight     : 300;
		font-size       : 0.75rem;
		line-height     : 1.17;
		color           : $white;
		justify-content : center;
		float           : left;
		height          : 24px;
		margin-right    : 16px;
		cursor          : pointer;
		transition      : all 0.2s linear;
	}

	&>div:hover {
		background-color: $primary-color;
		color           : $black;
	}

	&__year {
		min-width: 51px;
	}

	&__mileage {
		min-width: 78px;
	}

	&__volume {
		min-width: 33px;
	}
}