.wrapper {
	overflow      : hidden;
	display       : flex;
	flex-direction: column;
	min-height    : 100%;
	max-width     : 1140px;
	margin        : 0 auto;
}

.main {
	flex: 1 1 auto;
	margin-top: 40px;
}

@media all and (max-width: 1140px) {
	.wrapper {
		max-width: 970px;
	}
}
@media all and (max-width: 991.98px) {
	.wrapper {
		max-width: 750px;
	}
}
@media all and (max-width: 767.98px) {
	.wrapper {
		max-width: none;
	}
}