.wrapper {
	overflow      : hidden;
	display       : flex;
	flex-direction: column;
	min-height    : 100%;
	max-width     : 1140px;
	margin        : 0 auto;
}

.main {
	display   : flex;
	flex      : 1 1 auto;
	flex-wrap : wrap;
	margin-top: 40px;

	&__content {
		width      : 850px;
		margin-left: 20px;
	}

	&__heading {
		font-weight: 700;
		font-size  : 1.375rem;
		line-height: 1.18;
		color      : $black;
	}

	&__section-header {
		display        : flex;
		margin-top     : 25px;
		justify-content: space-between;
	}
}

.section-header {
	&__pagination {
		min-width      : 188px;
		height         : 35px;
		display        : flex;
		justify-content: space-between;
	}

	&__sort {
		min-width      : 268px;
		display        : flex;
		justify-content: space-between;
		align-items    : center;
	}

	&__sort>label {
		font-size  : 1rem;
		line-height: 1.17;
		font-weight: 400;
		color      : $item-name-color;
	}
}

.section-header {
	& select {
		max-width    : 207px;
		width        : 207px;
		border       : 1px solid $borders;
		border-radius: 0;
		font-size    : 1rem;
		line-height  : 1.17;
		padding      : 8px 0 8px 10px;
		cursor       : pointer;
	}

	& select:invalid {
		color: $description-text-color;
	}
}

@media all and (max-width: 1200px) {
	.wrapper {
		max-width: 970px;
	}

	.main__content {
		width: 680px;
	}
}

@media all and (max-width: 1020px) {
	.wrapper {
		max-width: 750px;
	}

	.main__content {
		width: 460px;
	}

	.section-header__sort>label {
		opacity: 0;
	}
}

@media all and (max-width: 959.98px) {
	.wrapper {
		max-width: 750px;
	}
}

@media all and (max-width: 796px) {
	.wrapper {
		max-width: 750px;
	}
}

@media all and (max-width: 767.98px) {
	.wrapper {
		max-width: 500px;
	}
}