.main__form {
	display         : block;
	margin-top      : 50px;
	width           : 270px;
	min-height      : 596px;
	padding         : 16px;
	background-color: $white;

	&-name {
		font-weight  : 500;
		font-size    : 1rem;
		line-height  : 1.17;
		color        : $black;
		min-height   : 35.5px;
		border-bottom: 1px solid $borders;
	}
}

.filter-form {
	margin-top: 14.5px;
	position  : relative;

	&__arrow {
		position         : absolute;
		right            : 3px;
		top              : -2px;
		border           : solid $description-text-color;
		border-width     : 0 1px 1px 0;
		display          : inline-block;
		padding          : 6px;
		cursor           : pointer;
		transform        : rotate(45deg);
		-webkit-transform: rotate(45deg);
	}

	&__name {
		font-weight: 400;
		font-size  : 1rem;
		line-height: 1.17;
	}

	&__container>input {
		margin-top  : 11px;
		margin-right: 11.5px;
		transform   : scale(1.231);
	}

	&__container>input[type=checkbox] {
		cursor: pointer;
	}

	&__container>input[type=radio] {
		cursor: pointer;
	}

	&__container>label {
		font-size  : 1rem;
		font-weight: 400;
		line-height: 1.17;
	}
}

.form-radio {
	margin-top: 18px;
}

.form-keywords {
	margin-top: 17px;

	& input {
		width       : 238px;
		padding-left: 4px;
		height      : 35px;
		font-size   : 1rem;
		line-height : 1.17;
		display     : inline-block;
		border      : 1px solid $borders;
		box-sizing  : border-box;
		margin      : 11px 0px 0px 0px;
		transform   : scale(1);
	}
}

.form-range {
	& .form-range__max {
		margin-left: 8px;
	}

	&>input {
		width       : 112px;
		padding-left: 4px;
		height      : 35px;
		font-size   : 1rem;
		line-height : 1.17;
		display     : inline-block;
		border      : 1px solid $borders;
		box-sizing  : border-box;
		margin      : 11px 0px 0px 0px;
		transform   : scale(1);
	}
}

.form-search-btn {
	margin-top: 18px;
}