.header {
	position     : relative;
	top          : 40px;
	border-radius: 0px;

	&__link {
		position     : absolute;
		top          : 183px;
		height       : 40px;
		width        : 1140px;
		border-radius: 0px;
	}
}

.header-container {
	height          : 100px;
	background-color: $white;

	&__logo {
		position      : absolute;
		left          : 16px;
		top           : 39px;
		font-size     : 1.125rem;
		font-weight   : 700;
		line-height   : 1.3125;
		letter-spacing: 0em;
		text-align    : left;

	}
}

.links {
	&__list {
		display        : flex;
		justify-content: flex-start;
		align-items    : center;
		padding        : 0px 0px 0px 16px;
	}

	&__item:not(:last-child):after {
		content    : '>';
		margin-left: 8px;
		font-size  : 0.75rem;
	}

	&__item:not(:first-child) {
		margin-left: 8px;
	}

	&__link {
		height     : 50px;
		font-size  : 0.75rem;
		line-height: 0.875;
		color      : $link-color;
		cursor     : pointer;
	}
	&_active {
		color: $text-color;
	}
}