$font-stack: Roboto,
sans-serif;
$primary-color         : #56CCF2;
$link-hover-color      : #56CCF2;
$link-color            : #2F80ED;
$black                 : #333333;
$white                 : #FFFFFF;
$text-color            : #4F4F4F;
$description-text-color: #828282;
$borders               : #BDBDBD;
$body-color            : #D9D9D9;
$menu-link-color       : #8D8D8D;
$item-name-color       : #000000;