<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="header-container">
          <a class="header-container__logo">Header / Logo</a>
        </div>
        <nav class="header__menu menu">
          <ul class="menu__list">
            <li class="menu__item">
              <a class="menu__link" href="<%= htmlWebpackPlugin.options.href %>"
                ><%= htmlWebpackPlugin.options.linkMenu1 %></a
              >
            </li>
            <li class="menu__item">
              <a class="menu__link" href="<%= htmlWebpackPlugin.options.href %>"
                ><%= htmlWebpackPlugin.options.linkMenu2 %></a
              >
            </li>
            <li class="menu__item">
              <a class="menu__link" href="<%= htmlWebpackPlugin.options.href %>"
                ><%= htmlWebpackPlugin.options.linkMenu3 %></a
              >
            </li>
            <li class="menu__item">
              <a class="menu__link" href="<%= htmlWebpackPlugin.options.href %>"
                ><%= htmlWebpackPlugin.options.linkMenu4 %></a
              >
            </li>
          </ul>
        </nav>
        <nav class="header__link links">
          <ul class="links__list">
            <li class="links__item">
              <a
                class="links__link"
                href="<%= htmlWebpackPlugin.options.hrefBreadcrumbs %>"
                ><%= htmlWebpackPlugin.options.linkBreadcrumbs1 %></a
              >
            </li>
            <li class="links__item">
              <a
                class="links__link"
                href="<%= htmlWebpackPlugin.options.hrefBreadcrumbs %>"
                ><%= htmlWebpackPlugin.options.linkBreadcrumbs2 %></a
              >
            </li>
            <li class="links__item">
              <a
                class="links__link links_active"
                href="<%= htmlWebpackPlugin.options.hrefBreadcrumbs %>"
                ><%= htmlWebpackPlugin.options.linkBreadcrumbs3 %></a
              >
            </li>
          </ul>
        </nav>
      </header>
      <main class="main">
        <aside class="main__form">
          <h2 class="main__form-name">26 Results Found</h2>
          <form class="filter-form">
            <i class="filter-form__arrow"></i>
            <fieldset class="filter-form__container">
              <legend class="filter-form__name">Param 1</legend>
              <input type="checkbox" id="val1" name="value 1" />
              <label for="val1">value 1</label><br />
              <input type="checkbox" id="val2" name="value 2" />
              <label for="val2">value 2</label><br />
              <input type="checkbox" id="val3" name="value 3" />
              <label for="val3">value 3</label><br />
              <input type="checkbox" id="val4" name="value 4" />
              <label for="val4">value 4</label><br />
              <input type="checkbox" id="val5" name="value 5" />
              <label for="val5">value 5</label><br />
            </fieldset>
          </form>
          <form class="filter-form form-radio">
            <i class="filter-form__arrow"></i>
            <fieldset class="filter-form__container">
              <legend class="filter-form__name">Param 2</legend>
              <input type="radio" id="val2_1" name="param2" />
              <label for="val2_1">value 2_1</label><br />
              <input type="radio" id="val2_2" name="param2" />
              <label for="val2_2">value 2_2</label><br />
              <input type="radio" id="val2_3" name="param2" />
              <label for="val2_3">value 2_3</label><br />
            </fieldset>
          </form>
          <form class="filter-form">
            <i class="filter-form__arrow"></i>
            <fieldset class="filter-form__container form-range">
              <legend class="filter-form__name">Param 3</legend>
              <input type="number" name="min" placeholder="min" />
              <input
                class="form-range__max"
                type="number"
                name="max"
                placeholder="max"
              />
            </fieldset>
          </form>
          <form class="filter-form form-keywords">
            <i class="filter-form__arrow"></i>
            <fieldset class="filter-form__container">
              <legend class="filter-form__name">Param 4</legend>
              <input type="text" name="keyword" placeholder="Keyword" />
            </fieldset>
          </form>
          <button class="form-search-btn btn">Search</button>
        </aside>
        <article class="main__content">
          <h1 class="main__heading"><%= htmlWebpackPlugin.options.h1 %></h1>
          <section class="main__section-header section-header">
            <section class="section-header__pagination">
              <button class="section-header__button btn">&lt;</button>
              <button class="section-header__button btn">1</button>
              <button class="section-header__button btn">2</button>
              <button class="section-header__button btn">&gt;</button>
            </section>
            <form class="section-header__sort" action="*" target="_top">
              <label>Sort by</label>
              <select>
                <option value="" disabled selected>Sort options</option>
                <option value="val1">Val1</option>
                <option value="val2">Val2</option>
                <option value="val3">Val3</option>
              </select>
            </form>
          </section>
          <article class="main__products products">
            <section class="products__item">
              <img class="products__img" src="assets/img/1.jpg" alt="Image" />
              <div class="products__container">
                <div class="products__header">
                  <h2 class="products__title">
                    <%= htmlWebpackPlugin.options.productTitle1 %>
                  </h2>
                  <div class="products__price">
                    <%= htmlWebpackPlugin.options.priceCurrency %> <%=
                    htmlWebpackPlugin.options.productPrice1 %>
                  </div>
                </div>
                <div class="products__description">
                  <p>
                    Item Description: Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Nulla quis distinctio, officia tenetur a
                    eaque deleniti, impedit accusamus, alias provident sint id
                    odio neque laudantium! Saepe quisquam libero soluta itaque?
                  </p>
                  <div class="products__feature feature">
                    <div class="feature__year">
                      <%= htmlWebpackPlugin.options.year1 %>
                    </div>
                    <div class="feature__mileage">
                      <%= htmlWebpackPlugin.options.mileage1 %> <%=
                      htmlWebpackPlugin.options.mileageMeasure %>
                    </div>
                    <div class="feature__volume">
                      <%= htmlWebpackPlugin.options.axleConfiguration1 %>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section class="products__item">
              <img class="products__img" src="assets/img/2.jpg" alt="Image" />
              <div class="products__container">
                <div class="products__header">
                  <h2 class="products__title">
                    <%= htmlWebpackPlugin.options.productTitle2 %>
                  </h2>
                  <div class="products__price">
                    <%= htmlWebpackPlugin.options.priceCurrency %> <%=
                    htmlWebpackPlugin.options.productPrice2 %>
                  </div>
                </div>
                <div class="products__description">
                  <p>
                    Item Description: Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Nulla quis distinctio, officia tenetur a
                    eaque deleniti, impedit accusamus, alias provident sint id
                    odio neque laudantium! Saepe quisquam libero soluta itaque?
                  </p>
                  <div class="products__feature feature">
                    <div class="feature__year">
                      <%= htmlWebpackPlugin.options.year2 %>
                    </div>
                    <div class="feature__mileage">
                      <%= htmlWebpackPlugin.options.mileage2 %> <%=
                      htmlWebpackPlugin.options.mileageMeasure %>
                    </div>
                    <div class="feature__volume">
                      <%= htmlWebpackPlugin.options.axleConfiguration2 %>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section class="products__item">
              <img class="products__img" src="assets/img/3.jpg" alt="Image" />
              <div class="products__container">
                <div class="products__header">
                  <h2 class="products__title">
                    <%= htmlWebpackPlugin.options.productTitle3 %>
                  </h2>
                  <div class="products__price">
                    <%= htmlWebpackPlugin.options.priceCurrency %> <%=
                    htmlWebpackPlugin.options.productPrice3 %>
                  </div>
                </div>
                <div class="products__description">
                  <p>
                    Item Description: Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Nulla quis distinctio, officia tenetur a
                    eaque deleniti, impedit accusamus, alias provident sint id
                    odio neque laudantium! Saepe quisquam libero soluta itaque?
                  </p>
                  <div class="products__feature feature">
                    <div class="feature__year">
                      <%= htmlWebpackPlugin.options.year3 %>
                    </div>
                    <div class="feature__mileage">
                      <%= htmlWebpackPlugin.options.mileage3 %> <%=
                      htmlWebpackPlugin.options.mileageMeasure %>
                    </div>
                    <div class="feature__volume">
                      <%= htmlWebpackPlugin.options.axleConfiguration3 %>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section class="products__item">
              <img class="products__img" src="assets/img/4.jpg" alt="Image" />
              <div class="products__container">
                <div class="products__header">
                  <h2 class="products__title">
                    <%= htmlWebpackPlugin.options.productTitle4 %>
                  </h2>
                  <div class="products__price">
                    <%= htmlWebpackPlugin.options.priceCurrency %> <%=
                    htmlWebpackPlugin.options.productPrice4 %>
                  </div>
                </div>
                <div class="products__description">
                  <p>
                    Item Description: Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Nulla quis distinctio, officia tenetur a
                    eaque deleniti, impedit accusamus, alias provident sint id
                    odio neque laudantium! Saepe quisquam libero soluta itaque?
                  </p>
                  <div class="products__feature feature">
                    <div class="feature__year">
                      <%= htmlWebpackPlugin.options.year4 %>
                    </div>
                    <div class="feature__mileage">
                      <%= htmlWebpackPlugin.options.mileage4 %> <%=
                      htmlWebpackPlugin.options.mileageMeasure %>
                    </div>
                    <div class="feature__volume">
                      <%= htmlWebpackPlugin.options.axleConfiguration4 %>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section class="products__item">
              <img class="products__img" src="assets/img/5.jpg" alt="Image" />
              <div class="products__container">
                <div class="products__header">
                  <h2 class="products__title">
                    <%= htmlWebpackPlugin.options.productTitle5 %>
                  </h2>
                  <div class="products__price">
                    <%= htmlWebpackPlugin.options.priceCurrency %> <%=
                    htmlWebpackPlugin.options.productPrice5 %>
                  </div>
                </div>
                <div class="products__description">
                  <p>
                    Item Description: Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Nulla quis distinctio, officia tenetur a
                    eaque deleniti, impedit accusamus, alias provident sint id
                    odio neque laudantium! Saepe quisquam libero soluta itaque?
                  </p>
                  <div class="products__feature feature">
                    <div class="feature__year">
                      <%= htmlWebpackPlugin.options.year5 %>
                    </div>
                    <div class="feature__mileage">
                      <%= htmlWebpackPlugin.options.mileage5 %> <%=
                      htmlWebpackPlugin.options.mileageMeasure %>
                    </div>
                    <div class="feature__volume">
                      <%= htmlWebpackPlugin.options.axleConfiguration5 %>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section class="products__item">
              <img class="products__img" src="assets/img/6.jpg" alt="Image" />
              <div class="products__container">
                <div class="products__header">
                  <h2 class="products__title">
                    <%= htmlWebpackPlugin.options.productTitle6 %>
                  </h2>
                  <div class="products__price">
                    <%= htmlWebpackPlugin.options.priceCurrency %> <%=
                    htmlWebpackPlugin.options.productPrice6 %>
                  </div>
                </div>
                <div class="products__description">
                  <p>
                    Item Description: Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Nulla quis distinctio, officia tenetur a
                    eaque deleniti, impedit accusamus, alias provident sint id
                    odio neque laudantium! Saepe quisquam libero soluta itaque?
                  </p>
                  <div class="products__feature feature">
                    <div class="feature__year">
                      <%= htmlWebpackPlugin.options.year6 %>
                    </div>
                    <div class="feature__mileage">
                      <%= htmlWebpackPlugin.options.mileage6 %> <%=
                      htmlWebpackPlugin.options.mileageMeasure %>
                    </div>
                    <div class="feature__volume">
                      <%= htmlWebpackPlugin.options.axleConfiguration6 %>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </article>
          <section class="main__section-header section-header">
            <section class="section-header__pagination">
              <button class="section-header__button btn">&lt;</button>
              <button class="section-header__button btn">1</button>
              <button class="section-header__button btn">2</button>
              <button class="section-header__button btn">&gt;</button>
            </section>
            <form class="section-header__sort" action="*" target="_top">
              <label>Sort by</label>
              <select>
                <option value="" disabled selected>Sort options</option>
                <option value="val1">Val1</option>
                <option value="val2">Val2</option>
                <option value="val3">Val3</option>
              </select>
            </form>
          </section>
          <p class="main__text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet quos
            ullam atque accusantium ratione molestias soluta, provident nobis,
            assumenda dolorum voluptas incidunt inventore quia reiciendis quis?
            Quis quo molestias repellat? Lorem ipsum, dolor sit amet consectetur
            adipisicing elit. Assumenda et at eveniet! Fugiat velit unde
            necessitatibus? Debitis illo vero aut. Iusto dolores, cupiditate
            error expedita veniam laborum repudiandae aspernatur eos? Lorem,
            ipsum dolor sit amet consectetur adipisicing elit. Amet quos ullam
            atque accusantium ratione molestias soluta, link provident nobis,
            assumenda dolorum voluptas incidunt inventore quia reiciendis quis?
            Quis quo molestias repellat? Iste, aliquid ducimus! Delectus in nisi
            quaerat temporibus blanditiis, molestias deleniti ea illum
            laudantium numquam. Laborum vero eligendi minus recusandae culpa
            sequi exercitationem iusto, ipsum sed suscipit fuga molestias
            veritatis!
          </p>
        </article>
      </main>
      <footer class="footer">
        <section class="footer__information">
          <h2 class="footer__title">Logo / Company Name</h2>
          <address class="footer__adress">
            <p>
              Company Adress: Lorem ipsum<br />
              dolor sit amet<br />
              18600, Netherlands
            </p>
          </address>
          <a class="footer__tel" href="tel:+389587550000">+38 958 755-00-00</a>
          <div class="footer__social-icons">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-youtube"></i>
          </div>
        </section>

        <section class="footer__description">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet quos
            ullam atque accusantium ratione molestias soluta, provident nobis,
            assumenda dolorum voluptas incidunt inventore quia reiciendis quis.
            Quis quo molestias repellat.
          </p>
        </section>
      </footer>
    </div>
    <script
      src="https://kit.fontawesome.com/bd4850f30b.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
